img {
	width: 100%;
	border: 1px solid black;
}

p {
	font-size: 10px;
}

/* .navish-bar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav-left span {
	color: red;
}

.nav-center {
	padding-top: 20px;
}

.nav-right {
	padding-top: 20px;
}

.sign-in-bs {
	text-align: right;
}

.nav-items-center, .nav-items-right {
	list-style-type: none;
}

.search-field {
	width: 250px;
}

.nav-items-center li{
	float: left;
	margin-right: 5%;
}

.nav-items-right li{
	float: right;
	margin-right: 5%;
} */

/* .featured-content {
	padding-top: 1%;
} */

.featured-content{
	background-color: #d3d3d3;
	border: 1px solid black;
}

.featured-content h5 {
	margin-left: 20px;
}

/* .medium-box{
	box-sizing: border-box;
	padding-left: 3%;
} */

.more-vids {
	background-color: #f0f0f0;
	border: 1px solid black;
}
.sm-thumb-div{
	padding: 2%;
}
.sm-thumb-div img{
	margin-bottom: 10%;
}
.sm-vids img{
	margin-bottom: 5%;
}
.more-vids.row{
	padding-left: 2%;
	padding-bottom: 1%;
}
/* .placehold-big{
	margin: 4% 0 2% -6%;
} */

.vert {
	margin-bottom: 30px;
}