img {
	width: 100%;
	border: 1px solid black;
}

p {
	font-size: 10px;
}

/* DIY NAVBAR FOLLOWS */

.active {
	color: black;
}

h1 span {
	color: red;
}

.navish-bar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

.nav-center {
	padding-top: 20px;
}

.nav-right {
	padding-top: 20px;
}

.sign-in-bs {
	text-align: right;
	padding-right: 10px;
}

.nav-items-center, .nav-items-right {
	list-style-type: none;
}

.search-field {
	width: 250px;
}

.nav-items-center li{
	float: left;
	margin-right: 5%;
}

.nav-items-right li{
	float: right;
	margin-right: 5%;
}

.featured-content{
	background-color: #d3d3d3;
	border: 1px solid black;
}

.featured-content h5 {
	margin-left: 20px;
}

.medium-box{
	box-sizing: border-box;
	padding-left: 3%;
}

.more-vids {
	background-color: #f0f0f0;
	border: 1px solid black;
	margin-top: 10px;
}

.more-vids h5 {
	padding-left: 20px;
}

.sm-thumb-div{
	padding: 2%;
}

.sm-thumb-div img{
	margin-bottom: 10%;
}

.sm-vids img{
	margin-bottom: 5%;
}

.more-vids.row{
	padding-left: 2%;
	padding-bottom: 1%;
}

/* BOOTSTRAP MODIFICATIONS BELOW

h6 span {
	color: #787878;
}

.nav, .navbar {
	background-color: #fff;
	border-radius: none;
}

.navbar {
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
	border-radius: none;
	width: 85%;
	margin: auto;
	margin-bottom: 20px;
}

.brand {
	color: black;
}

.brand span {
	color: red;
}

.nav.navbar-nav ul {
	width: 350px;
}

.center-top {
	box-sizing: border-box;
	padding-left: 150px;
}

.center-bottom {
	box-sizing: border-box;
	padding-left: 100px;
}

.right-bottom {
	box-sizing: border-box;
	padding-top: 70px;
	padding-left: 50px;
}

.right-top {
	box-sizing: border-box;
	padding-top: 10px;
}

.center-bottom li, .right-bottom li {
	margin-left: 20px;
}

/* .vert {
	margin-bottom: 30px;
} */

/* .navbar-form{
	position: absolute;
    left: 190%;
    top: 15px;
} */

/* .btn-default{
	position: absolute;
    right: -27%;
    top: 0px;
} */

/* .navbar-right.vert{
	position: relative;
    top: 20px;
} */
