.navish-bar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav-left span {
	color: red;
}

.nav-center {
	padding-top: 20px;
}

.nav-right {
	padding-top: 20px;
}

.sign-in-bs {
	text-align: right;
}

.nav-items-center, .nav-items-right {
	list-style-type: none;
}

.search-field {
	width: 250px;
}

.nav-items-center li{
	float: left;
	margin-right: 5%;
}

.nav-items-right li{
	float: right;
	margin-right: 5%;
}

