.navish-bar {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav-left span {
	color: red;
}

.nav-center {
	padding-top: 20px;
}

.nav-right {
	padding-top: 20px;
}

.sign-in-bs {
	text-align: right;
}

.nav-items-center, .nav-items-right {
	list-style-type: none;
}

.search-field {
	width: 250px;
}

.nav-items-center li{
	float: left;
	margin-right: 5%;
}

.nav-items-right li{
	float: right;
	margin-right: 5%;
}

.featured-content {
	background-color: #d3d3d3;
	border: 1px solid black;
}

img {
	width: 100%;
	border: 1px solid black;
}

.sm-thumb {
	width: 50px;
}

.pop-up-thumb {
	width: 250px;
}

.more-vids {
	background-color: #f0f0f0;
	border: 1px solid black;
}